<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PunchCardServlet</servlet-name>
        <servlet-class>za.ac.tut.web.PunchCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookingServlet</servlet-name>
        <servlet-class>za.ac.tut.web.UpdateBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>za.ac.tut.web.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAppointmentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.BookAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBookingServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>za.ac.tut.web.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAdminServlet</servlet-name>
        <servlet-class>za.ac.tut.web.CreateAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMyBookingsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewMyBookingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAvailabilityServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ManageAvailabilityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PunchCardServlet</servlet-name>
        <url-pattern>/PunchCardServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookingServlet</servlet-name>
        <url-pattern>/UpdateBookingServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAppointmentServlet</servlet-name>
        <url-pattern>/BookAppointmentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBookingServlet</servlet-name>
        <url-pattern>/ViewBookingServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/BookingServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAdminServlet</servlet-name>
        <url-pattern>/CreateAdminServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMyBookingsServlet</servlet-name>
        <url-pattern>/ViewMyBookingsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAvailabilityServlet</servlet-name>
        <url-pattern>/ManageAvailabilityServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
